
@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Knewave&display=swap');

/***********  Color Var and Police ***********/
:root {

    --bg-light: #FFFFFF;
    --bg-light-grey: #D9D9D9;
    --bg-blue:#0064A3;
    --bg-darkblue: #163760;
    --bg-darkred: #A30000;
    --bg-green: #5CD451;
    --bg-black: #000000;
    --title-font: "Knewave", system-ui;
    --main-font: "Inria", sans-serif;
}

/*********** General Style for all page ***********/
 main{
    margin:  0;
    height: 100%;
} 
body{
    background-color: var(--bg-light) ;
}
.navStyle {
    background-color: var(--bg-light-grey);
}

.footerStyle {
    background-color: var(--bg-darkblue);
    color: var(--bg-light);
    position: fixed;
    bottom: 0;
    width: 100%;
}
.lightFont{
    color: var(--bg-light);
}

/* Class for nav items */
.Knewave{
    font-family: "Knewave";
    font-size: 20px;
    color: var(--bg-black)
}

h1{
    font-family: "Knewave";
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

p{
    font-family: "Inria", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* error class for front end errors handler */
.error{
    margin-top: 0px;
    font-size: .75rem;
    color: red;
    margin-bottom: 10px;
}

/************* CSS Button event home page  *****************/
.container {
    display: flex;
    position: relative;
  }
  
  .button {
    cursor: pointer;
    background: none;
    border: none;
    border-radius: 8px;
    padding: .5em 1.5em;
    font-size: 25px;
    font-weight: 600;
    color: #0064A3;
    transition: all .3s ease;
  }
  
  .arrow {
    fill: #94a1b2;
    position: absolute;
    pointer-events: none;
    width: 24px;
    right: 0;
    top: 25%;
    transition: all .3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  .button:hover {
    letter-spacing: 2px;
  }
  
  .button:hover ~.second {
    opacity: .66;
    right: -20px;
    transition-delay: 50ms;
  }
  
  .button:hover ~.third {
    opacity: .33;
    right: -40px;
    transition-delay: 100ms;
  }
  
  .second, 
  .third {
    opacity: 0;
  }

/**************** End CSS Button event *****************/


/**************** CSS Research input ******************/

.search {
    display: inline-block;
    position: relative;
    margin-left: 6px;
  }
  
  .search input[type="text"] {
    width: 400px;
    padding: 9px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .search button[type="submit"] {
    background-color: #4e99e9;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 12px 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: -3px;
    right: 0;
    transition: .9s ease;
  }
  
  .search button[type="submit"]:hover {
    transform: scale(1.1);
    color: rgb(255, 255, 255);
    background-color: blue;
  }
  
  /**************** End CSS Research input *****************/